Ex/src/iet/xrff.dtd

<!ELEMENT dataset (header,body)>
<!ATTLIST dataset name CDATA #REQUIRED>
<!ATTLIST dataset version CDATA "3.5.4">

<!ELEMENT header (notes?,attributes)>
<!ELEMENT body (instances)>
<!ELEMENT notes ANY>

<!ELEMENT attributes (attribute+)>
<!ELEMENT attribute (labels?,metadata?,attributes?)>
 <!ATTLIST attribute name CDATA #REQUIRED>
 <!ATTLIST attribute type (numeric|date|nominal|string|relational) #REQUIRED>
 <!ATTLIST attribute format CDATA #IMPLIED>
 <!ATTLIST attribute class (yes|no) "no">
 <!ATTLIST attribute debidx CDATA #IMPLIED>
<!ELEMENT labels (label*)>
<!ELEMENT label ANY>
<!ELEMENT metadata (property*)>
<!ELEMENT property ANY>
<!ATTLIST property name CDATA #REQUIRED>

<!ELEMENT instances (instance*)>
<!ELEMENT instance (value*)>
<!ATTLIST instance type (normal|sparse) "normal">
<!ATTLIST instance weight CDATA #IMPLIED>
<!ELEMENT value (#PCDATA|instances)*>
<!ATTLIST value index CDATA #IMPLIED>
<!ATTLIST value missing (yes|no) "no">
